* {
  box-sizing: border-box;
  border-radius: 5px
}

html,
body {
  height: 100%;
  margin: 0;
}

a {

}

.react-app {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.page-holder {
  padding: 0 20px;
}

.flex {
  display: flex;
}

.page {
  display: flex;
  flex-direction: column;
  //height: 100%;
}

.page-main {
  padding: 25px 0;
}

// global form
.form-item {
  margin: 14px 0;
  label {
    display: block;
    margin-bottom: 4px;
    color: #130076;
    font-family: Roboto;

  }

  input {
    width: 100%;
    padding: 4px 6px;
    border: 1px solid #b4b4b4;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
}

button {
  text-transform: uppercase;
  cursor: pointer;
  color: #fff !important;
  background: #3370bf;
  padding: 8px 14px;
  border-radius: 4px;
  display: inline-block;
  border: none;

  &:hover {
    text-shadow: 0 0 6px rgba(255, 255, 255, 1);
    box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
  }
}
table.styled {
  border: 2px solid #fff;
  background-color: #162d54;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
}
table.styled td, table.styled th {
  border: 1px solid #fff;
  padding: 8px 22px;
}
table.styled tbody td {
  color: #E6E6E6;
}
table.styled tr:nth-child(even) {
  background: #1b3e6e;
}
table.styled thead {
  background: #3370BF;
  border-bottom: 3px solid #fff;
}
table.styled thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #fff;
}
table.styled thead th:first-child {
  border-left: none;
}

table.styled tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
table.styled tfoot td {
  font-size: 12px;
}

