.list{
  text-align: center;
}
.list-ul{
  display: inline-block;
  list-style-type:none;
  min-width: 280px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  background-color: lightsteelblue;
  text-align: center;
  color:#130076;
}
